/* body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(28, 28, 51);
    background-image: url(https://cdn.dribbble.com/userupload/11351249/file/original-781f4477dacd22c51322bc83e6af778e.jpg?resize=400x300&vertical=center);
    color: aliceblue;
} */

.mb-2{
    width: 200px;
}
/* a style of h2 is a set thing, .mb-2 is a custom thing and needs to have a . */
h2{
    font-family: 'Comic Sans', 'Courier New', Courier, monospace;
    font-size:  ;
}
.darkcolor{
    background-color: rgba(56, 56, 200, 0.967)!important;
}

}